// this is kind of dirty,
// and should be refactored according
// to your project's styleguide
// (and of course the icons you use)
@import '../../node_modules/blaze/scss/mixins/_settings.global';

$button-icon-height: $spacing-medium;
$button-icon-width: $spacing-large;

.o-icon {
  display: inline-block;
  vertical-align: middle;
}

.o-icon--svg {
  position: relative;
  top: -0.1em;

  &.c-nav__icon,
  &.c-button__icon-left,
  &.c-button__icon-right {
    margin-bottom: -$button-padding;
    margin-top: -$button-padding;
    height: $button-icon-height;
    width: $button-icon-width;
  }
}
